@inherits DisplayEmployeeBase

<div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
    <div class="card-header">
        <h3>
            @Employee.FirstName @Employee.LastName
        </h3>
    </div>
    <img class="card-img-top imageThumbnail" src="@Employee.PhotoPath" />
    @if (ShowFooter)
    {
        <div class="card-footer text-center">
            <a href="@($"/employeedetails/{Employee.Id}")" class="btn btn-primary m-1">Display</a>
            <a href="@($"/editemployee/{Employee.Id}")" class="btn btn-primary m-1">Edit</a>
            <button class="btn btn-danger" type="button" @onclick="Delete_Click">Delete</button>
        </div>
    }
</div>

<Confirm ConfirmationChanged="ConfirmDelete_Click" @ref="DeleteConfirmation"
         ConfirmationMessage=@($"Czy na pewno chcesz usunąć pracownika \"{Employee.LastName}, {Employee.FirstName}\"?")></Confirm>
