@page "/employeedetails/{id}"
@page "/employeedetails/"
@inherits EmployeeDetailsBase

@if (Employee == null)
{
    <div class="spinner"></div>
}
else
{

    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1>@Employee.FirstName @Employee.LastName</h1>
                </div>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="@Employee.PhotoPath" />
                <h4>ID pracownika: @Employee.Id</h4>
                <h4>Email : @Employee.Email</h4>
                <h4>Dział : @(Employee.Department == null ? "N/A" : Employee.Department.DepartmentName)</h4>
            </div>
            <div class="card-footer text-center">
                <a href="/" class="btn btn-primary m-1">Back</a>
                <a href="@($"/editemployee/{Employee.Id}")" class="btn btn-primary m-1">Edit</a>
                <button class="btn btn-danger" type="button" @onclick="Delete_Click">Delete</button>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Confirm attendance</h3>
                </div>
            </div>

        </div>
    </div>
}
<Confirm ConfirmationChanged="ConfirmDelete_Click" @ref="DeleteConfirmation"
         ConfirmationMessage=@($" This action will delete an employee \"{Employee.LastName}, {Employee.FirstName}\". are you sure?")></Confirm>
