@page "/employeelist"
@inherits EmployeeListBase
@attribute [Authorize]

@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
<div class="card-deck">
    <h1>Lista pracowników</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Płeć</th>
                <th>Data urodzenia</th>
                <th>Akcja</th>
            </tr>
        </thead>
        @foreach (var employee in Employees)
        {

            <tbody>
                <tr>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Email</td>
                    <td>@employee.Gender</td>
                    <td>@employee.DateOfBirth.ToShortDateString()</td>

                    <td><a href="@($"/employeedetails/{employee.Id}")" class="btn btn-primary m-1">Zobacz</a></td>
                    <td><a href="@($"/editemployee/{employee.Id}")" class="btn btn-primary m-1">Edytuj</a></td>
                </tr>
            </tbody>
    }
        </table>
    </div>
}